<h1>Reservation for  <%= @reservation.person.fullname %></h1>

<%= render 'form' %>

<!-- %= link_to 'Read Mode', @reservation %> | -->
<%= link_to 'Back to Reservation List', reservations_path %> <br/><br/>